{% extends "base.html" %}

{% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Shopping Made Easy</h1>
            <p class="lead">Some useful links!</p>
            <button type="button" class="btn btn-dark btn-sm buttonsize"><i class="fa fa-percent"
                    aria-hidden="true"></i>
                Discounts</button>
            <button type="button" class="btn btn-dark btn-sm buttonsize"><i class="fa fa-phone-square"
                    aria-hidden="true"></i>
                Contact</button>
            <button type="button" class="btn btn-dark btn-sm buttonsize"><i class="fa fa-truck" aria-hidden="true"></i>
                Shipping</button>
            <button type="button" class="btn btn-dark btn-sm buttonsize"><i class="fa fa-credit-card"
                    aria-hidden="true"></i>

                Payments</button>
            <button type="button" class="btn btn-dark btn-sm buttonsize"><i class="fa fa-comments"
                    aria-hidden="true"></i>
                Chat</button>

        </div>
    </div>

    <!-- First Line of Best Sellers -->
    <h5 class="display-4 my-5 mx-4 px-5 py-5" id="hi">Best Sellers in Clothes:</h2>
        <div class="container d-flex justify-content-between px-5 py-5 bg-dark">

            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>

            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>

            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>
            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>
            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>
            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>
            <div class="card" style="width: 8rem; height: 12rem;">
                <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/01-512.png"
                    alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="stretched-link"></a>
                    <h5 class="card-footer">Product1</h5>
                </div>
            </div>
        </div>


            <!-- Second Line of Best Sellers -->

            <h5 class="display-4 my-5 mx-4 px-5 py-5" id="hi">Best Sellers in Food:</h2>
                <div class="container d-flex justify-content-between px-5 py-5 bg-dark">

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 8rem; height: 12rem;">
                        <img class="card-img-top"
                            src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                            alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="stretched-link"></a>
                            <h5 class="card-footer">Product1</h5>
                        </div>
                    </div>


                </div>

                <!-- Third Line of Best Sellers -->
                <h5 class="display-4 my-5 mx-4 px-5 py-5" id="hi1">Best Sellers in Electronics:</h2>
                    <div class="container d-flex justify-content-between px-5 py-5 bg-dark">

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>

                        <div class="card" style="width: 8rem; height: 12rem;">
                            <img class="card-img-top"
                                src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                alt="Card image cap">
                            <div class="card-body d-flex justify-content-center">
                                <a href="#" class="stretched-link"></a>
                                <h5 class="card-footer">Product1</h5>
                            </div>
                        </div>


                    </div>

                    <!-- Fouth Line of Best Sellers -->

                    <h5 class="display-4 my-5 mx-4 px-5 py-5" id="hi">Best Sellers in Books:</h2>
                        <div class="container d-flex justify-content-between px-5 py-5 bg-dark ">

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>

                            <div class="card" style="width: 8rem; height: 12rem;">
                                <img class="card-img-top"
                                    src="https://cdn4.iconfinder.com/data/icons/computer-hardware-and-devices-1/512/cpu-512.png"
                                    alt="Card image cap">
                                <div class="card-body d-flex justify-content-center">
                                    <a href="#" class="stretched-link"></a>
                                    <h5 class="card-footer">Product1</h5>
                                </div>
                            </div>


                        </div>

                        <p>.</p>

{% endblock %}