<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class=" ml-3 navbar-brand" href="{% url 'index' %}">Amazion</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar navbar-dark bg-dark">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Computers And Accessories</a>
                    <a class="dropdown-item" href="#">Clothing Line</a>
                    <a class="dropdown-item" href="#">Electronics</a>
                    <a class="dropdown-item" href="#">Cars</a>
                </div>
            </li>
            <li class="ml-5">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        id="navsearch">
                    <button class="btn btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#LoginModal"><i
                        class="fa fa-user" aria-hidden="true"></i>
                    Login <span class="sr-only">(current)</span> </button>

            </li>
            </li>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#SignupModal"><i
                    class="fa fa-user-plus" aria-hidden="true"></i>
                Sign Up <span class="sr-only">(current)</span> </button>
            <li>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"><i
                        class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    Cart <span class="sr-only">(current)</span> </button>
            </li>
        </ul>

        <!-- Login Modal -->
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'login' %}" method=post>
                    {% csrf_token %}
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="email" id="defaultForm-email" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                            <input type="submit" class="btn btn-dark" value="Login"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Signup Modal -->
    <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign Up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'register' %}" method=post
                    oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                    {% csrf_token %}
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <label>Username</label>
                            <input type="text" name="username" id="signupName" class="form-control validate"
                                required>
                        </div>

                        <div class="md-form mb-4">
                            <label>E-Mail</label>
                            <input type="email" name="email" id="signupMail" class="form-control validate"
                                required>
                        </div>

                        <div class="md-form mb-4">
                            <label>Password</label>
                            <input id="password1" type=password class="form-control validate"
                                required name=up>
                        </div>

                        <div class="md-form mb-4">
                            <label>Retype Password</label>
                            <input id="password2" name="password" type=password class="form-control validate"
                                name=up2>
                        </div>

                        <div class="md-form mb-4">
                            <label>Gender</label>
                            <select name="gender" id="signupGender" class="form-control validate"
                                required>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="submit" class="btn btn-dark" value="Sign Up"></input>
                    </div>
                </form>

            </div>
        </div>
    </div>

    </div>
</nav>